<h1 style="margin-bottom: 25px">Nowy Event</h1>

<%= form_for @event, :url => { :action => "create" } do |form| %>
  <% if @event.errors.any? %>
    <div id="error_expplanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this ticket from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%=message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, :class => 'form-control w-25' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, :class => 'form-control w-25' %>
  </div>

  <div class="field">
    <%= form.label :price_low %>
    <%= form.text_field :price_low, :class => 'form-control w-25' %>
  </div>

  <div class="field">
    <%= form.label :price_high %>
    <%= form.text_field :price_high, :class => 'form-control w-25' %>
  </div>

  <div class="field">
    <%= form.label :_event_date %>
    <%= form.text_field :event_date, :class => 'form-control w-25' %>
  </div>

  <div class="actions" style="margin-top: 20px">
    <%= form.submit 'Zapisz', :class => 'btn btn-default' %>
  </div>
<% end %>

<button class="btn btn-default" style="margin-top: 20px; float: left">
  <%= link_to "Powrot", events_path %>
</button>
