<p id="notice"><%= notice %></p>

<p id="komunikat"><%= flash[:komunikat] %></p>
<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Price low:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Price high:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<br>
<h2> ------ KUP BILET NA TO WYDARZENIE ------ </h2>
<%= render "new_ticket", ticket: Ticket.new( :event_id=>@event.id) %>

<br>
<h2> ------ BILETY KUPIONE NA TO WYDARZENIE ------ </h2>
<%= render "tickets_list" %>

<%= link_to 'Back', events_path %>

