<p id="notice"><%= notice %></p>

<p id="komunikat"><%= flash[:komunikat] %></p>
<p style="font-size: 18px">
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p style="font-size: 18px">
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p style="font-size: 18px">
  <strong>Price low:</strong>
  <%= @event.price_low %>
</p>

<p style="font-size: 18px">
  <strong>Price high:</strong>
  <%= @event.price_high %>
</p>

<p style="font-size: 18px">
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<div style="width: 100%; border-top: 1px solid black; margin-bottom: 40px">
  <h3> KUP BILET NA TO WYDARZENIE </h3>
</div>

<%= render "new_ticket", ticket: Ticket.new( :event_id=>@event.id) %>

<div style="width: 100%; border-top: 1px solid black">
  <h3> BILETY KUPIONE NA TO WYDARZENIE </h3>
</div>
<%= render "tickets_list" %>

<button class="btn btn-default" style="margin-top: 20px; float: left">
<%= link_to 'Powrot', events_path %>
</button>
