<h1>Bilety</h1>

<table class="table-striped" style="margin-bottom: 30px; margin-top: 20px">
  <thead>
    <tr style="height: 60px">
      <th>Name</th>
      <th>Seat id seq</th>
      <th>Address</th>
      <th>Price</th>
      <th>Email address</th>
      <th>Phone</th>
      <th>Event_Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr style="height: 60px; vertical-align: middle;">
        <td style="font-size: 18px"><%= ticket.name %></td>
        <td style="font-size: 18px"><%= ticket.seat_id_seq %></td>
        <td style="font-size: 18px"><%= ticket.address %></td>
        <td style="font-size: 18px"><%= ticket.price %></td>
        <td style="font-size: 18px"><%= ticket.email_address %></td>
	      <td style="font-size: 18px"><%= ticket.phone %></td>
        <td style="font-size: 18px"><%= ticket.event_id %></td>
        <td style="font-size: 18px"><%= link_to 'Show', ticket %></td>

        <td style="font-size: 18px">
          <% if ticket.user == current_user %>
            <%= link_to 'Edytuj', edit_ticket_path(ticket) %>
          <% end %>
        </td>
        <td style="font-size: 18px">
          <% if ticket.user == current_user %>
            <%= link_to 'Usun', ticket, method: :delete, data: { confirm: 'Jesteś pewien?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="width: 60%">
  <button class="btn btn-default">
    <%= link_to "Powrot do menu", "/"%>
  </button>

  <button class="btn btn-success" style="float: right; color: white">
    <%= link_to 'New Ticket', new_ticket_path %>
  </button>
</div>



